
body
{
	background-image: url(images/money.jpg);
	
}



header
{
    width: 50%;
    background-color:rgb(220, 245, 242);
    border : 10px groove rgb(90, 90, 90);
    text-align: justify;
    padding: 10px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 30px;
    border: 7px #ff0000 solid;   
    animation: blink 1s;
    animation-iteration-count: infinite;
}

@keyframes blink { 50% { border-color:rgb(251, 255, 0) ; }  }

aside
{
    width: 17%;

    background-color:rgb(150, 226, 217);
    border : 3px solid rgb(0, 0, 0);
    text-align: justify;
    padding-top: 10px;
    word-wrap: break-word;
    overflow: auto;
    margin: auto
}

.link
{
    
    border: 7px #ff0000 solid;   
    animation: blink 1s;
    animation-iteration-count: infinite;
}

a
{
    text-decoration: none;
    color: black;
}
h1
{
    width: 50%;
    min-width: 70%;
    max-width: 80%;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
    
}

.article
{
    display: flex;
    justify-content: space-between;
}


article
{
    width: 40%;
    min-width: 30%;
    height: 220px;
    background-color:rgb(150, 226, 217);
    border : 3px solid rgb(0, 0, 0);
    text-align: justify;
    padding: 10px;
    word-wrap: break-word;
    overflow: auto;
    margin: 50px 50px 50px 50px

    
}


